h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: 3%;
    margin-right: 60%;
}

header {
    height: 330px;
    background-image: url('images/DV1200x338.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    color: burlywood;
    background-color: black;
}

.headerLight {
    background-image: url('images/Leia422x346.jpg');
}

header p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 40%;
}

header #p2 {
    margin-left: 8%;
    margin-right: 20%;
}

body {
    background-color: black;
}

.bodyLight {
    background-color: #fbf9f9;
}

.container {
    margin-top: 50px;
    padding-block: 8%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
    max-width: 450px;
}

.btnNameImport .btnSideChange {
    background-color: black;
}

.btnNameImport .btnSideChange:hover {
    background-color: #360b0b;
}

.buttonLight {
    background-color: gray;
}

div #characterOutput {
    width: 50%;
    max-width: 300px;
    margin-left: 35%;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #60111f99;
}

footer {
    height: 160px;
    background-image: url('images/STH179x176.png');
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 20px;
    background-color: black;
    color: burlywood;
}

.footerLight {
    background-image: url('images/Han188x172.jpg');
    background-color: #fbf9f9;
    color: black;
}

footer p {
    margin-right: 4%;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    text-align: right;
}